#header {
  text-align: center;
}

/*
  Provides line under headers
*/

.section h1,
.section h2,
.section h3 {
  color: #13294B;
  border-bottom: 1px solid #FF552E;
}

.title {
  color: #13294B;
}

/*
  recolors 'Chapter' text before header names
*/

.header-section-number {
  color: #C0C0C0;
}
